Source: juno-launcher
Section: editors
Priority: optional
Maintainer: Morten Piibeleht, <morten.piibeleht@gmail.com>
Build-Depends: debhelper
Standards-Version: 4.1.4


Package: juno-launcher
Architecture: all
Section: editors
Depends: atom, ${misc:Depends}
Description: Juno is an Atom-based IDE for the Julia programming language.
 This package sets up a launcher script to launch Juno in a self-contained
 environment.
