[Desktop Entry]
Name=Juno
Comment=A hackable text editor for the 21st Century.
GenericName=Text Editor
Exec=/usr/bin/juno %F
Icon=/usr/share/juno/juno.svg
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;Development;
MimeType=text/plain;
